--find-links https://data.pyg.org/whl/torch-2.3.0+cu121.html

torch==2.3.0
torch-geometric==2.5.3
torch-scatter==2.1.2+pt23cu121
fair-esm==2.0.0
biotite==0.39.0

transformers==4.45.2
datasets==3.2.0
huggingface-hub==0.25.2
safetensors==0.4.5

numpy==1.26.4
pandas==2.2.3
pyarrow==17.0.0
scipy==1.14.1
scikit-learn==1.5.2
tmtools==0.3.0

pytest==8.3.3
